/* ⛔️ Variables */
:root {
  --c-white: #fff;
  --c-black: #000;
}

/* ⛔️ Base */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html, body {
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root,
#app {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn, .button, button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 6px 14px;
  border-radius: 4px;
  background: transparent;
  transition: background-color 0.3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

svg {
  pointer-events: none;
}

/* ⛔️ Styles */
:root {
  /* Colors */
  --bcp-blue: #443DF6;
  --bcp-grey: #1B2124;
  --bcp-black: #000000;
  --bcs-grey-1: #8D9091;
  --bcs-grey-2: #CCCCCC;
  --bcs-grey-3: #EFEFEF;
  --bcs-grey-4: #FBFBFB;
  --bct-navy: #191489;
  --bct-red: #C5292A;
  --bct-sunny: #FFD965;
  --bct-marina: #A6D4FF;
  --bct-green: #22B02E;

  /* Viewport */
  --maximumViewportWidth: 1240;
}

.price-slider {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  max-width: 600px;
  width: 100%;
  display: grid;
  gap: var(--gap);
  text-align: center;

  div {
    display: grid;
    gap: 10px;

    @media (min-width: 576px) {
      grid-template-columns: 1fr 20px 1fr;
      gap: 10px;
      align-items: center;
    }

    label {
      @media (min-width: 576px) {
        grid-template-columns: 50px 1fr;
        align-items: center;
      }

      span {
        text-align: left;
        font-weight: var(--fw-600);
        color: var(--bcp-grey);
      }
    }

    .separator {
      width: 15px;
      height: 3px;
      background-color: var(--bcp-grey);
      display: none;

      @media (min-width: 576px) {
        display: block;
      }
    }
  }

  .slider {
    height: 5px;
    border-radius: 5px;
    background-color: var(--bcs-grey-3);
    position: relative;

    &__progress {
      height: 5px;
      border-radius: 5px;
      background-color: var(--bcp-grey);
      left: 20%;
      right: 25%;
      position: absolute;
    }
  }

  .ranges {
    position: relative;

    &__input {
      position: absolute;
      height: 5px;
      top: -20px;
      width: 100%;
      background: none;
      pointer-events: none;
      -webkit-appearance: none;
      padding: 0;
      border: 0;

      &::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        -webkit-appearance: none;
        background: var(--bcp-grey);
        pointer-events: auto;
      }

      &::-moz-range-thumb {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        border: none;
        pointer-events: auto;
        -moz-appearance: none;
        background: var(--bcp-grey);
      }
    }
  }
}
