@import 'assets/scss/config/fonts';
@import 'assets/scss/config/reset';
@import 'assets/scss/config/vars';
@import 'assets/scss/config/utility';
@import 'assets/scss/modules/typography';
@import 'assets/scss/modules/fields';
@import 'assets/scss/modules/buttons';
@import 'assets/scss/modules/toast';
@import 'assets/scss/config/global';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.app-container {
  --gap: 15px;
  //display: grid;
  //place-items: center;
  min-height: 100vh;
  background-color: var(--bcs-grey-3);
  //padding: 10px;
}

.tracker {
  display: grid;
  align-items: flex-start;
  grid-template-columns: calc(70px + (100 - 70) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300))) 1fr;
  min-height: 100vh;

  // Panel
  .panel {
    padding: calc(10px + (20 - 10) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
    background-color: #fff;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

    .logo {
      display: grid;
      gap: 5px;
      justify-items: center;

      img {
        max-width: 40px;
      }
    }

    .buttons {
      display: grid;
      gap: var(--gap);
      justify-items: center;
    }

    [data-list] {
      display: grid;
      gap: var(--gap);
      max-height: 80vh;
      overflow: auto;
    }

    button {
      --size: calc(35px + (50 - 35) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
      height: var(--size);
      width: var(--size);
      padding: 4px;

      img {
        width: 70%;
      }

      &.active {
        background-color: var(--bcs-grey-3);

        svg {
          fill: #fff;
        }
      }
    }
  }

  // Side
  .side {

    .side-content {
      display: grid;
      gap: var(--gap);
      padding: var(--gap);
    }

    .welcome-screen {
      display: grid;
      gap: 10px;
      padding: var(--gap);

      h3 {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .header {
      display: grid;
      gap: var(--gap);
      margin-bottom: var(--gap);

      @media (min-width: 576px) {
        align-items: center;
        grid-template-columns: 1fr 250px;
      }

      &__name {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--gap);

        button {
          background-color: transparent;
          border: 0;
          padding: 4px;
        }
      }
    }

    .progress {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      align-items: center;
      gap: var(--gap);

      &__meter {
        position: relative;
        height: 5px;
        border-radius: 4px;
        background-color: var(--bcs-grey-2);
        grid-column: 1/-1;
      }

      &__line {
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        width: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--bcp-grey);
        transition: all 0.45s ease;
      }
    }

    .body {
      display: grid;
      gap: var(--gap);
      max-height: 85vh;
      overflow: auto;
      padding-bottom: 30px;

      ul {
        display: grid;
        gap: var(--gap);
        max-height: 80vh;
        overflow: auto;
      }

      .day {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
        overflow: hidden;
        min-height: 87px;

        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: 100px 1fr;
        }

        &__count {
          background-color: #dbdbdb;
          padding: var(--gap);
          font-weight: var(--fw-500);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__content {
          padding: var(--gap);
          display: grid;
          gap: var(--gap);

          @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr max-content;
            align-items: center;
          }

          button {
            width: 100%;
          }
        }

        &--create {
          .day__content {
            @media (min-width: 768px) {
              gap: 0;
            }
          }

          form {
            gap: var(--gap);

            @media (min-width: 768px) {
              display: grid;
              grid-template-columns: 1fr max-content;
              align-items: center;
            }
          }

          button {
            @media (min-width: 768px) {
              width: 120px;
            }
          }
        }
      }
    }
  }

  // Overlay
  .overlay {
    position: fixed;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(27, 33, 36, 0.62);
    pointer-events: none;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    z-index: -99;
    transition: all 0.25s ease;

    &.open {
      pointer-events: auto;
      user-select: auto;
      opacity: 1;
      visibility: visible;
      z-index: 99;

      .modal {
        transform: scale(1);
        opacity: 1;
      }
    }

    &.hidden {
      pointer-events: none;
      user-select: none;
      opacity: 0;
      visibility: hidden;
      z-index: -99;
      transition: all 0.3s 0.2s ease;

      .modal {
        transform: scale(1.2);
        opacity: 0;
      }
    }
  }

  // modal
  .modal {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    display: grid;
    gap: var(--gap);
    max-width: 450px;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    position: relative;
    transform: scale(1.2);
    opacity: 0;
    transition: all 0.3s 0.2s ease;

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      padding: 4px;
      border: 0;
    }

    .title {
      text-align: center;
      font-weight: var(--fw-500);
    }

    form {
      gap: var(--gap);
    }
  }

  svg {
    pointer-events: none;
  }
}
