/* ⛔️ Variables */
:root {
  --c-white: #fff;
  --c-black: #000;
}

/* ⛔️ Base */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html, body {
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root,
#app {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn, .button, button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 6px 14px;
  border-radius: 4px;
  background: transparent;
  transition: background-color 0.3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

svg {
  pointer-events: none;
}
/* ⛔️ Styles */
:root {
  /* Colors */
  --bcp-blue: #443DF6;
  --bcp-grey: #1B2124;
  --bcp-black: #000000;
  --bcs-grey-1: #8D9091;
  --bcs-grey-2: #CCCCCC;
  --bcs-grey-3: #EFEFEF;
  --bcs-grey-4: #FBFBFB;
  --bct-navy: #191489;
  --bct-red: #C5292A;
  --bct-sunny: #FFD965;
  --bct-marina: #A6D4FF;
  --bct-green: #22B02E;
  --gap:15px;

  /* Viewport */
  --maximumViewportWidth: 1240;
}
.drink-water {
  --color-blue: #41b6e6;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  max-width: 600px;
  width: 100%;
  display: grid;
  gap: var(--gap);
  text-align: center;


  form {
    gap: var(--gap);
  }

  &__content {
    display: grid;
    gap: var(--gap);
  }

  &__cups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 70px));
    justify-content: center;
    gap: var(--gap);
  }

  &__cup {
    border: 4px solid var(--bcp-grey);
    cursor: pointer;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    font-weight: 700;

    &.full {
      background-color: var(--color-blue);
      color: #fff;
    }

    &--big {
      border-radius: 0 0 40px 40px;
      width: 190px;
      height: 280px;
      margin: auto;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }

  &__remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;

    span {
      font-weight: 700;
      font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
      line-height: 1;
    }

    small {
      font-weight: 400;
    }
  }

  &__percentage {
    width: 100%;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
    transition: 0.3s ease;
    color: #fff;
  }
}
